                              ASSIGNMENT - 4 - WEB SCRAPING

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium .webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
B) Name
C) Artist
D) Upload date
E) Views

In [58]:
driver = webdriver.Chrome()

In [59]:
url = driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [60]:
Name = []
Artist = []
Date = []
Views = []

In [61]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [62]:
Data = pd.DataFrame({})
Data['Name']= Name
Data['Artist']= Artist
Data['Upload Date']= Date
Data['Views']= Views

In [63]:
Data.Name = Data.Name.apply(lambda x:x[:-4].strip('"'))

In [64]:
Data

,Name,Artist,Upload Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,Despacito,Luis Fonsi,"January 12, 2017",8.38
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,Shape of You,Ed Sheeran,"January 30, 2017",6.20
5,See You Again,Wiz Khalifa,"April 6, 2015",6.17
6,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,Uptown Funk,Mark Ronson,"November 19, 2014",5.15
9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.07
10,Gangnam Style,Psy,"July 15, 2012",5.05
11,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.58
12,Dame Tu Cosita,Ultra Records,"April 5, 2018",4.55
13,Axel F,Crazy Frog,"June 16, 2009",4.34
14,Sugar,Maroon 5,"January 14, 2015",4.00
15,Counting Stars,OneRepublic,"May 31, 2013",3.97
16,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,Roar,Katy Perry,"September 5, 2013",3.96
18,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.91
19,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.85
20,Sorry,Justin Bieber,"October 22, 2015",3.77
21,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.73
22,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011",3.69
24,Dark Horse,Katy Perry,"February 20, 2014",3.67
25,Perfect,Ed Sheeran,"November 9, 2017",3.67
26,Let Her Go,Passenger,"July 25, 2012",3.61
27,Faded,Alan Walker,"December 3, 2015",3.59
28,Girls Like You,Maroon 5,"May 31, 2018",3.56
29,Lean On,Major Lazer Official,"March 22, 2015",3.55

In [65]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [104]:
driver = webdriver.Chrome()

In [105]:
url = driver.get('https://www.bcci.tv/')

In [106]:
fix = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fix.click()

In [107]:
Match = []
Series = []
Place = []
Date = []
Time = []

In [108]:
for i in driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]'):
    Match.append(i.text)

for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
    Place.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [109]:
print(len(Match),len(Series),len(Place),len(Date),len(Time))

6 6 6 6 6

In [110]:
Data = ({'Match':Match,
    'Series':Series,
        'Place':Place,
        'Date':Date,
        'Time':Time})

In [111]:
Df = pd.DataFrame(Data)

In [112]:
Df

,Match,Series,Place,Date,Time
0,5th TestMen,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,1st T20IMen,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,2nd T20IMen,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,3rd T20IMen,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,4th T20IMen,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,5th T20IMen,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [113]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(21-22)- at current prices
D) GSDP(22-23)- at current prices
E) Share(21-22)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [115]:
driver = webdriver.Chrome()

In [116]:
url = driver.get('http://statisticstimes.com/')

In [126]:
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [127]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
time.sleep(3)

In [128]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [130]:
Rank = []
State = []
GSDP21_22 = []
GSDP22_23 = []
Share = []
GDP = []

In [133]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP21_22.append(i.text)
except NoSuchElementException:
    GSDP21_22.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP22_23.append(i.text)
except NoSuchElementException:
    GSDP22_23.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [134]:
len(Rank),len(State),len(GSDP21_22),len(GSDP22_23),len(Share),len(GDP)

(66, 66, 66, 66, 66, 66)

In [135]:
data = ({'Rank':Rank[:33],
        'State':State[:33],
        'GSDP(21-22)- at current prices':GSDP21_22[:33],
        'GSDP(22-23)- at current prices':GSDP22_23[:33],
        'Share(21-22)':Share[:33],
        'GDP($ billion)':GDP[:33]})

In [136]:
Df = pd.DataFrame(data)

In [138]:
Df

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

In [139]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [81]:
driver = webdriver.Chrome()

In [82]:
url = driver.get('https://github.com/')

In [83]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span').click()

In [84]:
search1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

In [85]:
search2 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [86]:
Title = []
Dis = []
cc = []
Lan = []

In [87]:
for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]'):
    Title.append(i.text)

In [88]:
URL = []

for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a'):
    URL.append(i.get_attribute("href"))

In [89]:
for i in URL:
    driver.get(i)
    time.sleep(3)
    
    try:
        dis = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[1]/react-partial/div/div/div[3]/div[2]/div/div[2]/article/p[2]')
        Dis.append(dis.text)
    except NoSuchElementException:
        Dis.append('-')
    time.sleep(3)
    
    try:
        CC = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        cc.append(CC.text)
    except NoSuchElementException:
        cc.append('-')
    time.sleep(3)
    
    try:
        lan = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[6]/div/ul')
        Lan.append(lan.text.replace('\n',''))
    except NoSuchElementException:
        Lan.append('-')
    time.sleep(3)

In [90]:
len(Title),len(Dis),len(cc),len(Lan)

(25, 25, 25, 25)

In [91]:
df = ({'Repository Title': Title,
      'Repository Description': Dis,
      'Contributors Count': cc,
      ' Language': Lan})

In [92]:
Github = pd.DataFrame(df)
Github

,Repository Title,Repository Description,Contributors Count,Language
0,cloudflare / pingora,"Pingora is a Rust framework to build fast, rel...",3,Rust100.0%
1,Lissy93 / web-check,Get an insight into the inner-workings of a gi...,13,TypeScript77.9%JavaScript20.2%HTML1.4%Other0.5%
2,Lunakepio / Mario-Kart-3.js,,10,JavaScript94.7%CSS4.2%Other1.1%
3,dockur / windows,Via docker-compose.yml,-,-
4,yuzu-emu / yuzu,Compatibility | Development | Building | Downl...,-,
5,pmndrs / uikit,TODO Release,-,bbohlender Bela Bohlenderdrcmda —ricklove Rick...
6,HumanAIGC / EMO,"Linrui Tian, Qi Wang, Bang Zhang, Liefeng Bo,",-,-
7,moom825 / xeno-rat,Xeno Rat is a remote access tool (RAT) that is...,-,-
8,kyegomez / BitNet,PyTorch Implementation of the linear methods a...,-,kyegomez Eternal Reclaimerdependabot[bot]nullo...
9,microsoft / Security-101,This course is designed to teach you fundament...,4,-
10,HumanAIGC / AnimateAnyone,"Li Hu, Xin Gao, Peng Zhang, Ke Sun, Bang Zhang...",-,-
11,Pawdroid / Free-servers,,-,-
12,aishwaryanr / awesome-generative-ai-guide,Explore the following resources:,2,-
13,wazuh / wazuh,Wazuh is a free and open source platform used ...,288,C59.0%Python20.3%C++17.8%CMake1.3%Shell0.9%Mak...
14,cloudcommunity / Free-Certifications,A curated list of free courses & certification...,-,-
15,redis / ioredis,,150,TypeScript98.4%JavaScript1.5%Other0.1%
16,evo-design / evo,Evo is a biological foundation model capable o...,4,Python100.0%
17,pure-admin / vue-pure-admin,中文 | English,56,Vue66.4%TypeScript29.2%SCSS1.9%HTML0.9%CSS0.9%...
18,jwasham / coding-interview-university,This is my multi-month study plan for becoming...,-,
19,myshell-ai / MeloTTS,Some other features include:,-,-
20,yuzu-emu / yuzu-android,,357,C++95.5%Kotlin2.9%CMake0.8%GLSL0.3%NASL0.2%Pyt...
21,bruin-data / ingestr,ingestr takes away the complexity of managing ...,-,-
22,ossu / computer-science,Path to a free self-taught education in Comput...,136,-
23,polyfillpolyfill / polyfill-service,Polyfill.io documentation is on the website.,168,-
24,DataTalksClub / data-engineering-zoomcamp,Syllabus,116,Jupyter Notebook98.6%Java0.7%Python0.6%Dockerf...

In [93]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [5]:
driver = webdriver.Chrome()

In [6]:
url = driver.get('http://www.billboard.com/')

In [7]:
click = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()

In [8]:
chart = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [9]:
top100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [10]:
Sname = []
Aname = []
LWrank = []
Prank = []
WOB = []

In [11]:
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3'):
    Sname.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[1]/span'):
    Aname.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]//span[1]'):
    LWrank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]//span'):
    Prank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]//span'):
    WOB.append(i.text)

In [12]:
len(Sname),len(Aname),len(LWrank),len(Prank),len(WOB)

(100, 100, 100, 100, 100)

In [13]:
df =({'Song Name': Sname,
     'Artist Name': Aname,
     'Last Week Rank': LWrank,
     'Peak rank': Prank,
     'Weeks On Board': WOB})

In [14]:
Top_100 = pd.DataFrame(df)
Top_100

,Song Name,Artist Name,Last Week Rank,Peak rank,Weeks On Board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [15]:
driver.close()

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
  Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [16]:
driver = webdriver.Chrome()

In [17]:
url = driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [18]:
BName = []
AName = []
sold = []
pub = []
genre = []

In [19]:
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[2]'):
    BName.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[3]'):
    AName.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[4]'):
    sold.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[5]'):
    pub.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[6]'):
    genre.append(i.text)

In [20]:
len(BName),len(AName),len(sold),len(pub),len(genre)

(100, 100, 100, 100, 100)

In [21]:
df = ({'Book name': BName,
      'Author Name': AName,
      ' Volumes Sold': sold,
      'Publisher': pub,
      'Genre': genre})

In [22]:
Novel = pd.DataFrame(df)
Novel

,Book name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [23]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [26]:
driver = webdriver.Chrome()

In [27]:
url = driver.get('https://www.imdb.com/list/ls512407256/')

In [28]:
Name = []
Year = []
Genre= []
Runtime = []
Rating = []
Votes = []

In [29]:
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
    Name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]'):
    Year.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]'):
    Genre.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]'):
    Runtime.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]'):
    Rating.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]'):
    Votes.append(i.text)

In [30]:
len(Name),len(Year),len(Genre),len(Runtime),len(Rating),len(Votes)

(100, 100, 100, 100, 100, 100)

In [31]:
df = ({'Name': Name,
      'Year Span': Year,
      'Genre': Genre,
      'Run Time': Runtime,
      'Ratings': Rating,
      'Votes': Votes})

In [32]:
TV = pd.DataFrame(df)
TV

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,002"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,102"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,071,973"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,431"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,343"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,066"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,030"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,843"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,031"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,660"

In [33]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [57]:
driver = webdriver.Chrome()

In [58]:
url = driver.get('https://archive.ics.uci.edu/')

In [59]:
data = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [60]:
URL = []

In [61]:
URL1 = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in URL1:
    URL.append(i.get_attribute("href"))

In [64]:
Dataset = []
Datatype = []
Task = []
Atype = []
NOI = []
NOA =[]
Year = []

In [66]:
for i in URL:
    driver.get(i)
    time.sleep(3)
    
    try:
        dataset = driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset.append(dataset.text)
    except NoSuchElementException:
        Dataset.append('-')
    time.sleep(3)
        
    try:
        datatype = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        Datatype.append(datatype.text)
    except NoSuchElementException:
        Datatype.append('-')
    time.sleep(3)
        
    try:
        task = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
        
    try:
        atype = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Atype.append(atype.text)
    except NoSuchElementException:
        Atype.append('-')
    time.sleep(3)
        
    try:
        noi = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        NOI.append(noi.text)
    except NoSuchElementException:
        NOI.append('-')
    time.sleep(3)
        
    try:
        noa = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        NOA.append(noa.text)
    except NoSuchElementException:
        NOA.append('-')
    time.sleep(3)
        
    try:
        year = driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        Year.append(year.text)
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)

In [67]:
len(Dataset),len(Datatype),len(Task),len(Atype),len(NOI),len(NOA),len(Year)

(10, 10, 10, 10, 10, 10, 10)

In [68]:
df = ({'Dataset Name': Dataset,
      'Data type': Datatype,
      'Task': Task,
      'Attribute Type': Atype,
      'No Of Instances': NOI,
      'No Of Attribute': NOA,
      'Year': Year})

In [69]:
UCI = pd.DataFrame(df)
UCI

,Dataset Name,Data type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,-
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-

In [70]:
driver.close()